body {
  display: block;
  margin: 10px;
  background-image: url(media/background\ -\ Copy.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Mukta", sans-serif;
}
input {
  display: block;
  margin: 0 auto;
  font-family: "Mukta", sans-serif;
  text-transform: capitalize;
}

.box {
  background-color: aliceblue;
  border: 1px solid white;
  border-radius: 20px;
  margin: 30px;
  width: fit-content;
  padding: 50px;
  height: 200px;
}

.days {
  margin: 0px 10px;
  width: fit-content;
  padding: 0px;
  height: fit-content;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
}

.addcity {
  margin: 30px;
  width: fit-content;
  padding: 50px;
  height: 200px;
  text-transform: capitalize;
}
.cityname {
  display: block;
  margin: 0px;
  padding: 5px;
  color: cornsilk;
  font-size: 100px;
  text-transform: capitalize;
}
.time {
  display: block;
  margin: 0px;
  padding: 5px;
  color: cornsilk;
  font-size: 50px;
}

.temp {
  font-size: 75px;
  text-align: right;
  font-weight: bold;
}
.changeCity {
  display: block;
  margin: 0 auto;
  font-size: 16px;
  background-color: #51bbe7;
  color: #f5f0fe;
  padding: 15px 20px;
  margin: 20px;
  display: block;
  margin: 0px auto;
  border: 1px solid #272044;
  border-radius: 20px;
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}

.box2 {
  background-color: #bee5f6ad;
  width: 100%;
  padding: 10px;
}

.weatherInfo {
  text-transform: capitalize;
  text-align: right;
  font-size: 25px;
}
